*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/.gitignore
.idea/sonarlint-state.xml
.idea/sonarlint.xml
.idea/sonarlint/issuestore/0/3/03cf79bbc45c3e489205ebd9c232c8c5b48b6a36
.idea/sonarlint/issuestore/2/b/2bf19e3bde36b3017a15a2986eeabd85b0830f0e
.idea/sonarlint/issuestore/c/9/c9727061646bc635a5fc918a9c21a93355967850
.idea/sonarlint/issuestore/c/a/ca881542b3b00b3c64babff3834312fbec41099f
.idea/sonarlint/issuestore/e/5/e5e06de4b2bf9df2a5df9688ce7559bb4e4bfb8a
.idea/sonarlint/issuestore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
.idea/sonarlint/issuestore/f/5/f55e12deb5f04a878e88a6f28331303de867d8ba
.idea/sonarlint/issuestore/index.pb
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
